.colaborador {
    width: 280px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
}

.colaborador .cabecalho {    
    border-radius: 10px 10px 0px 0px;
}
.colaborador img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -30px;
}

.colaborador .rodape {
    background: #FFFFFF;    
    border-radius: 0px 0px 10px 10px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.colaborador .rodape h4 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: bold;
    margin: 0 0 9px;
}

.colaborador .rodape h5 {
    font-size: 18px;
    line-height: 1.2;
    opacity: 0.7;
    margin: 0 0 12px;
    filter: hue-rotate(45deg);
}